---
import Layout from "../layouts/Layout.astro";
---

<Layout title="天然歌舞伎Polis">
  <section class="hero">
    <h1>天然歌舞伎Polis</h1>
    <p>
      天然歌舞伎Polisは東西線早稲田駅徒歩２分という都心にありながら、音を出しながらガンガン立体造形を行えるスペースを目指して立ち上げました。<br>
      元印刷工場であるこの建物をドンドン改修し
	</p>

      <ul>
		<li>都心でありながら石、鉄、木、塑像など幅広い素材を扱える工房</li>
		<li>ジャンルを問わずアーティストが気軽に立ち寄れるスペース</li>
		<li>地域社会に芸術を通して貢献するコミュニティ</li>
	  </ul>
	<p>
	これらを目指して日夜DIYに励んでいるので是非立ち寄ってみてください
    </p>
  </section>

  <hr />

<section class="cards">

<a class="card" href="/about">
<img src="/images/about.jpg" alt="About">
<h2>About</h2>
<p>天然歌舞伎Polisについて</p>
</a>

<a class="card" href="/space">
<img src="/images/space.jpg" alt="About">
<h2>Space</h2>
<p>工房設備</p>
</a>

<a class="card" href="/work">
<img src="/images/work.jpg" alt="About">
<h2>Work</h2>
<p>制作ログ</p>
</a>

<a class="card" href="/events">
<img src="/images/events.jpg" alt="About">
<h2>Events</h2>
<p>イベント情報</p>
</a>

</section>
</Layout>