---
import "../styles/global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
	<!-- Favicon -->
 	<link rel="icon" href="/favicon.svg" />
  </head>
	<body>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/space">Space</a>
		<a href="/work">Work</a>
		<a href="/events">Events</a>
	</nav>

	<main>
		<slot />
	</main>
	</body>
</html>